html{
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 25%;
    color: white;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 5em;
    text-align: center;
    font-weight: bold;
}
h3{
    font-size: 1.5em;
}

hr{
    width: 25%;
    color: white;
    border-top: 1px solid white;
}
body{
    background: url('catpic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-toggler{
    border: 0;
}
.navbar-toggler:focus{
    outline: none;
}