@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
*{
    margin:0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
html{
    
    height: 400%;
}
body{
    background-image: linear-gradient(rgb(248, 123, 91), rgb(52, 116, 236));
    background-size: cover;
}
#nav-bar {
    width: 100%;
    margin-left: 17%;
}
#nav-list{
    width: 100%;
    list-style: none;
    margin-left: 10px;
}
#nav-list>li{
    
    float: left;
    font-size: 20px;
    
    padding: 10px 3% 0px 2%;   
}
#nav-list a{
    height: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 0.5px white dotted;
}
#nav-list a:hover{
    border-bottom: 0;
}
#frontscreen{
    width: 100%;
    height: 89.5%;
    position: absolute;
    top: 10%;
    text-align: center;
}
#hi-there{
    font-weight: bold;
    font-size: 80px;
    text-shadow: 4px 4px rgb(75, 76, 77) ;
}
#discover{
    margin-top: 30%;
    font-size: 30px;
}
.topic{
    width: 100%;
    height: 60%;
    position: absolute;
    /* border: 2px black solid; */
}
.topiclink{
    font-size: 40px;
    color: white;
    text-decoration: none;
    border-bottom: 0.5px white dotted;
}
.topiclink:hover{
    border-bottom: 0;
}
#about{
    left: 10%;
    top: 100%;
}
#blog{
    left: 80%;
    top: 160%;

}
#arts{
    left: 10%;
    top : 220%;
}
#projects{
    left: 80%;
    top: 280%;
}
#contact{
    left: 10%;
    top: 340%;
}
