*{
  font-family: 'Nunito', sans-serif;
  letter-spacing: .05rem;
}
html, body{
  height: 100%;
}
body{
  position: relative;
}
#magicText{
  display: none;
}
.masthead{
  background-image: url('./imgs/samplebackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#mainNav{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 0rem;
  padding-top: .2rem;
}
#mainNav .navbar-brand{
  padding-left: .75rem;
}
#mainNav div .navbar-nav .nav-item .nav-link,
#mainNav .navbar-brand{
  color: rgba(194, 194, 204, 0.719);
  text-transform: uppercase;
  font-weight: 300;
  transition: 300ms;
}
#mainNav div .navbar-nav .nav-item .nav-link {
  padding-left: .7rem;
  
}
#mainNav div .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-brand:hover,
#mainNav div .navbar-nav .nav-item .nav-link:active{
  color: rgba(83, 83, 233, 0.747);
}

#about{
  background: linear-gradient(rgb(55, 57, 170),rgba(112, 41, 204, 0.8));
}
#exco{
  background: linear-gradient(rgba(161, 231, 193, 0.76),rgb(212, 221, 132));
}
.sectionHeader{
  padding-top: 2rem;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  font-weight: 500;
}
.fa-bars{
  color: white;
}
.navbar-toggler{
  border: 0;
}
.navbar-toggler:focus{
  outline: none;
}

#members{
  background: linear-gradient(rgb(157, 224, 136), rgba(22, 122, 89, 0.582));
}


.caption{
  position: absolute;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 1;
}
.roundedPic, #hugelogo{
  transition: 250ms;
  border-radius: 50%;
}

.roundedPic:hover{
  filter: blur(5px);
}








@media (max-width: 767.98px ) {
  #mainNav {
    background-color: rgb(255, 255, 255);
  }
  #mainNav div .navbar-nav .nav-item .nav-link,
  #mainNav .navbar-brand {
    color: rgba(37, 192, 140, 0.884);
  } 
  #mainNav div .navbar-nav .nav-item .nav-link:hover,
  #mainNav .navbar-brand:hover {
    color: rgba(13, 13, 136, 0.863);
  }
  .fa-bars{
    color: rgba(37, 192, 140, 0.884);
  }
}