::-webkit-scrollbar { 
  display: none;
}
*{
  scroll-behavior: smooth;
}
body, html{
  height: 100%;
}
body{
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* theme colors:
green: Plantation #214F49

pink: Tonys Pink #DE907E 
*/